nav {
    width: 100%;
    padding: 10px 0;
    background-color: #555;
    box-shadow: 0px 1px 10px black;
    position: fixed;
    z-index: 9999;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    color: white;
}

nav li:not(:last-child) {
    margin-right: 15px;
}

nav ul li {
    transition: all 10ms ease-in-out;
}

nav ul li:hover {
    transform: translateY(-2px);
}
